.container {
  background: #9aa2fd;
}

.main {
  min-height: 100vh;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffeccc;
}

.divButton {
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 10px;
}

.button {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7583ca;
  border: 1px solid transparent;
  border-radius: 38px;
  color: #f6f1fb;
  transition: 0.3s ease;
}

.button:hover{
  filter: brightness(0.95);
}

.title {
  margin: 0;
  font-size: 4rem;
}

.titleEffect,
.subtitle {
  font-weight: normal;
}

.footer {
  display: flex;
  flex: 1;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  color: #ffeccc;
}